# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.pylint.d

# Environments
env/
venv/
ENV/
.venv/

# Idea
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and temp files
*.log
*.tmp

/src/examples/*.json
/src/examples/*.jsonl
/src/examples/*.csv
/src/examples/*.db
/src/examples/*.html